<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title><%-defineContent('title')%></title>
	<link rel="shortcut icon" type="image/png" href="../icon/favicon.png"/>
	<link rel="stylesheet" type="text/css" href="../frontend/bootstrap/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="../frontend/bootstrap/bootstrap.min.css">
	<%-defineContent('style')%>
</head>

<body>
	<%-defineContent('maincontainer')%>
	
	
	<script type="text/javascript" src="../frontend/jquery/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="../frontend/bootstrap/bootstrap.min.js"></script>
	<%-defineContent('script')%>

</body>

</html>